main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

.black-link {
  color: black;
  
}
  .product-image:hover {
    filter: brightness(80%);/* Change the opacity of the image */
    cursor: pointer; /* Change the cursor to a pointer on hover */
  }
  
  .login-with-google {
    display: flex;
    align-items: center;
    background-color: #4285f4; /* Change the background color to blue */
  color: #fff; /* Change the text color to white */
  border: none; /* Remove the border */
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
  }
  
  .login-with-google img {
    height: 27px;
    margin-right: 10px;
  }
  
  .login-with-google:hover {
    background-color: #125de7;
  }
  
  .login-with-google:focus {
    outline: none;
    box-shadow: 0 0 0 2px #4285f4;
    border-color: #4285f4;
    color: #4285f4;
  }
  
  
  .login-with-facebook {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1877f2;
  color: #fff;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.login-with-facebook i {
  font-size: 20px;
  margin-right: 10px;
}

.login-with-facebook:hover {
  background-color: #3b5998;
}

.login-with-facebook:focus {
  outline: none;
  box-shadow: 0 0 0 2px #1877f2;
  border-color: #1877f2;
  color: #fff;
}
.my-card {
  box-shadow: 0px 7px 7px rgba(14, 12, 12, 0.2);
}
.error{
  color: red;
}

.search-input {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  width: 20px;
  margin-right: 10px;
}

.filter-select {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  width: 20px;
}

